@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animated-underline {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: background-size 400ms ease;
  }

  .animated-underline-trigger:hover > .animated-underline,
  .animated-underline-trigger:focus > .animated-underline {
    background-position: 0% 100%;
    background-size: 100% 1px;
  }
}

@layer utilities {
  .border-spacing-0 {
    border-spacing: 0;
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-invisible {
    backface-visibility: hidden;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

html {
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
  height: 100%;
}

.hide-banner #page-info-banner {
  display: none;
}

/* Tippy overrides */
.tippy-box {
  @apply max-w-none !important;
}

.tippy-content {
  @apply p-0 !important;
}

/* React Select dark mode overrides */
.dark .rs__control {
  @apply bg-neutral-600;
  border-color: rgb(51, 51, 51);
}

.dark .rs__indicator-separator {
  background-color: rgb(51, 51, 51);
}

.dark .rs__dropdown-indicator {
  color: rgb(51, 51, 51);
}
